<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.baseballbythenumbers">

    <application
        android:name=".BaseballByTheNumbersApp"
        android:allowBackup="true"
        android:appCategory="game"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="o"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".ui.standings.StandingsActivity"
            android:label="@string/title_activity_standings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.roster.RosterActivity"
            android:label="@string/title_activity_roster"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.baseballbythenumbers.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.gameplay.GamePlayActivity"
            android:label="@string/title_activity_game_play"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.baseballbythenumbers.ui.main.MainActivity" />
        </activity>
        <activity android:name=".ui.newleaguesetup.NewLeagueSetupActivity" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>